:root {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --color-bg: #f3f3e0;
  --color-text: #121212;
  --color-primary: #27548a;
  --color-hover: #183b4e;
  --color-card: #dda853;
}

[data-theme="dark"] {
  --color-bg: #121212;
  --color-text: #f3f3e0;
  --color-primary: #dda853;
  --color-hover: #a77463;
  --color-card: #27548a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
