.toggle {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 500;
  height: 3rem;
  width: 5rem;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 20px;

  &:hover {
    cursor: pointer;
    border-color: var(--color-hover);
    border-style: solid;
  }
}
